<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ez.newsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HeckylNews"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.UserPrefActivity"></activity>
        <activity android:name=".Activities.HeckylProfileActivity" />
        <activity android:name=".Activities.WelcomeActivity" />
        <activity android:name=".Activities.HeckylRegisterActivity" />
        <activity android:name=".Activities.HeckylLoginActivity" />
        <activity android:name=".Activities.NewsListActivity" />
        <activity android:name=".Activities.HeckylHome" />
        <activity android:name=".Activities.MediaActivity" />
        <activity
            android:name=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HeckylActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>